# Terraform state
*.tfstate
*.tfstate.*

# Terraform working directory
.terraform/

# Lock file
#.terraform.lock.hcl

# Logs
*.log
tf.log

# Variables
*.tfvars
*.tfvars.json

# Crash files
crash.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db